.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg,
            transparent,
            #12f7ff,
            transparent);
    height: 30rem;
    margin-top: 3rem;
}

.about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    height: 30rem;
    transition: var(--transition);

}

.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
       padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid #12f7ff;
    transition: var(--transition);


}

#pragraph {
    margin-top: 1rem;
}

.about__card:hover {
    box-shadow: 5px 5px 10px #12f7ff;
    font-size: 10px;

}

.about__icon {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #12f7ff;
    /* margin-top: 0.6rem; */
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;

}

.about__content {
    margin: 3rem 0 2.6rem;
}


/* =================== light mode ==================== */

#light .about__card {
    border: solid 1px #1aa9ae;
}

#light .about__card:hover {
    box-shadow: 5px 5px 10px #26adb1;
}

#light .about__icon {
    color: #1b777a;
}

#light .about__me {
    background: linear-gradient(45deg,
            transparent,
            black, #1aa9ae,
            transparent);
}

/* =================== MEDIA QUERIES (MEDIA DEVICES) ==================== */

@media screen and (max-width:1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    .about__cards {
        margin-top: 3rem;
    }

}


/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */
@media only screen and (max-width: 768px) {
  /* Adjust layout for smaller screens */
  .container {
    display: flex;
    flex-direction: column;
  }

  .about__me,
  .about__content {
    width: 100%;
  }

  .about__content {
    margin-top: 20px; /* Adjust spacing between image and content */
  }
     .about__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly between columns */
  }

  .about__card {
    width: calc(33.33% - 20px); /* Set width of each card to one-third minus spacing */
    margin-bottom: 20px; /* Add spacing between cards */
  }
}




